In [88]:
import os
import re

In [89]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\kdeni\anaconda3\envs\sql\lib\site-packages (1.3.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\kdeni\anaconda3\envs\sql\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\kdeni\anaconda3\envs\sql\lib\site-packages (from pandas) (1.21.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\kdeni\anaconda3\envs\sql\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\kdeni\anaconda3\envs\sql\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [90]:
import pandas as pd

In [91]:
# !pip install psycopg2
# import psycopg2

In [92]:
# %load_ext sql

In [93]:
HOST = "localhost"
DB = "tweetsDB"
USER = "postgres"
PASSWD = "passwd"

In [94]:
# conn = psycopg2.connect(dbname=DB, user=USER, password=PASSWD, host=HOST)

In [95]:
# cur = conn.cursor()

In [96]:
query = """
    SELECT value 
    FROM hashtags
    LIMIT 100
"""

In [97]:
# cur.execute(query)

In [98]:
# cur.fetchall()

In [99]:
# res = cur.execute("SELECT * FROM hashtags LIMIT 100")

In [100]:
# print(res)

In [104]:
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, String, Integer, MetaData
from sqlalchemy.orm import declarative_base, sessionmaker

In [105]:
posgres_conn_str = f"postgresql://{USER}:{PASSWD}@{HOST}/{DB}"

In [106]:
engine = create_engine(posgres_conn_str)

TODO:

    1. vytvorit si novy stlpec pre sentiment(neg, neu, pos, compound)
    2. joinut tweety s tweethashtagmi s hashtagmi 
    3. vyfiltrovat podla danych hashtagov, ktore chcem 
    4. vypocitat sentiment a zapisat do DB

Adding the sentiment columns to the tweets table

In [128]:
add_columns_query = """
    ALTER TABLE tweets
    ADD COLUMN neg numeric(6, 4),
    ADD COLUMN neu numeric(6, 4),
    ADD COLUMN pos numeric(6, 4),
    ADD COLUMN compound numeric(6, 4)
"""

In [129]:
engine.execute(add_columns_query)

In [107]:
df = pd.read_sql(query, engine)

In [108]:
HASHTAG_FILTER = """'DeepstateVirus', 'DeepStateVaccine',
'DeepStateFauci', 'QAnon', 'Agenda21', 'CCPVirus', 'ClimateChangeHoax',
'GlobalWarmingHoax', 'ChinaLiedPeopleDied', 'SorosVirus', '5GCoronavirus', 'MAGA',
'WWG1WGA', 'Chemtrails', 'flatEarth', 'MoonLandingHoax', 'moonhoax', 'illuminati',
'pizzaGateIsReal', 'PedoGateIsReal', '911truth', '911insidejob', 'reptilians'"""

In [110]:
# hashtag : conspiracy_theory
CONSPIRACY_THEORIES = {
 
        "DeepstateVirus"                :   "Deep State",  
        "DeepStateVaccine"              :   "Deep State",
        "DeepStateFauci"                :   "Deep State",
        "QAnon"                         :   "Qanon",
        "MAGA"                          :   "Qanon",
        "WWG1WGA"                       :   "Qanon",
        "Agenda21"                      :   "New world order",
        "CCPVirus"                      :   "The virus escaped from a Chinese lab", 
        "ChinaLiedPeopleDied"           :   "The virus escaped from a Chinese lab",
        "ClimateChangeHoax"             :   "GLobal Warming is HOAX",
        "GlobalWarmingHoax"             :   "GLobal Warming is HOAX",
        "SorosVirus"                    :   "COVID19 and microchipping", 
        "BillGAtes"                     :   "COVID19 and microchipping",
        "5GCoronavirus"                 :   "COVID19 is preaded by 5G",
        "MoonLandingHoax"               :   "Moon landing is fake", 
        "moonhoax"                      :   "Moon landing is fake",
        "911truth"                      :   "9/11 was inside job",
        "911insidejob"                  :   "9/11 was inside job",
        "pizzaGateIsReal"               :   "Pizzagate conspiracy theory",
        "PedoGateIsReal"                :   "Pizzagate conspiracy theory",   
        "Chemtrails"                    :   "Chemtrails",
        "flatEarth"                     :   "FlatEarth",
        "illuminati"                    :   "Illuminati",
        "reptilians"                    :   "Reptilian conspiracy theory"
}

In [111]:
CONSPIRACY_THEORIES["DeepStateVaccine"]

'Deep State'

We need to match all the mutations of the hashtags:

In [112]:
filter_query = f"""
    SELECT * 
    FROM hashtags
    WHERE lower(value) LIKE ANY (array[{HASHTAG_FILTER.lower()}])
"""

In [113]:
filter_query

"\n    SELECT * \n    FROM hashtags\n    WHERE lower(value) LIKE ANY (array['deepstatevirus', 'deepstatevaccine',\n'deepstatefauci', 'qanon', 'agenda21', 'ccpvirus', 'climatechangehoax',\n'globalwarminghoax', 'chinaliedpeopledied', 'sorosvirus', '5gcoronavirus', 'maga',\n'wwg1wga', 'chemtrails', 'flatearth', 'moonlandinghoax', 'moonhoax', 'illuminati',\n'pizzagateisreal', 'pedogateisreal', '911truth', '911insidejob', 'reptilians'])\n"

In [114]:
qanon_query = f"""
    SELECT * 
    FROM hashtags
    WHERE lower(value) LIKE ANY (array['qanon'])
"""

In [115]:
df_qanon = pd.read_sql(qanon_query, engine)

In [116]:
df_filtered = pd.read_sql(filter_query, engine)

In [117]:
df_filtered

           id              value
0      111971           agenda21
1      363281           AGENDA21
2      905802         ChemTrails
3     3907585         SorosVirus
4     3486140  GlobalWarmingHoax
..        ...                ...
125     77112              Qanon
126     25089            WWG1WGA
127     14415               MAGA
128  21259243              QAnON
129  22837040              QanoN

[130 rows x 2 columns]

In [118]:
df_qanon

          id  value
0   16070849  qaNON
1   15168832  QANOn
2   15170088  qaNon
3   15856421  qAnoN
4   15189267  QAnoN
5   15274024  QaNON
6   15752301  QANon
7   16342002  QaNoN
8   16204212  QaNon
9   15177935  qAnon
10  20298034  QANoN
11  18149870  qanoN
12  18671401  qAnON
13  21370247  qanON
14  15690756  qANON
15  16799781  qanOn
16  18387797  QanON
17     27195  QANON
18  21259243  QAnON
19     25091  qanon
20  22837040  QanoN
21  22849188  QanOn
22     20506  QAnon
23     77112  Qanon

We can see that hoaxer dont know grammar

In [ ]:
def compute_sentiment(line):
    # parse the line and compute the sentiment
    import nltk
    nltk.download('vader_lexicon')
    from nltk.sentiment.vader import SentimentIntensityAnalyzer
    sid = SentimentIntensityAnalyzer()

    # first get the tweets with the hashtags
    
    return output

In [203]:
def parse_line(line):
    res = re.sub("(\#|\@)[\w]+", "", line)
    emoji_pat = re.compile(pattern = "["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
        u"\U00002500-\U00002BEF"  # chinese char
        u"\U00002702-\U000027B0"
        u"\U00002702-\U000027B0"
        u"\U000024C2-\U0001F251"
        u"\U0001f926-\U0001f937"
        u"\U00010000-\U0010ffff"
        u"\u2640-\u2642" 
        u"\u2600-\u2B55"
        u"\u200d"
        u"\u23cf"
        u"\u23e9"
        u"\u231a"
        u"\ufe0f"  # dingbats
        u"\u3030"
                        "]+", flags = re.UNICODE)
    res = emoji_pat.sub(r'',res)
    return res.lstrip().rstrip()

In [204]:
lower_hastag_filter = HASHTAG_FILTER.lower()

In [205]:
lower_hastag_filter

"'deepstatevirus', 'deepstatevaccine',\n'deepstatefauci', 'qanon', 'agenda21', 'ccpvirus', 'climatechangehoax',\n'globalwarminghoax', 'chinaliedpeopledied', 'sorosvirus', '5gcoronavirus', 'maga',\n'wwg1wga', 'chemtrails', 'flatearth', 'moonlandinghoax', 'moonhoax', 'illuminati',\n'pizzagateisreal', 'pedogateisreal', '911truth', '911insidejob', 'reptilians'"

In [206]:
query = f"""
        SELECT tweets.id, tweets.content, h.value
        FROM tweets
        JOIN tweet_hashtags as th ON tweets.id = th.tweet_id
        JOIN hashtags as h ON th.hashtag_id = h.id
        WHERE lower(h.value) LIKE ANY (array[{lower_hastag_filter}])
        LIMIT 100
"""

In [207]:
df_filtered_tweets = pd.read_sql(query, engine)

In [208]:
df_filtered_tweets['content'][0]

"@X22Report #WWG1WGA #qANON #MAGA #TRUMP #KAG #COVID2019 #CoronavirusPandemic \r\n\r\nTo get out from under \r\nall the DEEP STATE BULLSHIT \r\nTHEY'RE SHOVELING THRU OUR TVS! \r\n\r\nThe only virus the World should worry over \r\nüëπüçïüëâ   https://t.co/7hLykSEnJ0 ü§®üßêüò≥\r\nEXTERMINATE with EXTREME PREJUDICEüíÄüí•üî´ https://t.co/vgetfCXM0b"

In [209]:
df_filtered_tweets['content'] = df_filtered_tweets['content'].apply(lambda x: parse_line(x))

In [210]:
df_filtered_tweets['content'][0]

"To get out from under \r\nall the DEEP STATE BULLSHIT \r\nTHEY'RE SHOVELING THRU OUR TVS! \r\n\r\nThe only virus the World should worry over \r\n   https://t.co/7hLykSEnJ0 \r\nEXTERMINATE with EXTREME PREJUDICE https://t.co/vgetfCXM0b"

In [161]:
sentence = "@SusanHavens10 @LaurenLindsayDj I have written some #hashtags"

In [176]:
print(re_str.lstrip().rstrip())

I have written some

In [119]:
meta = MetaData(engine)

In [120]:
meta

MetaData(bind=Engine(postgresql://postgres:***@localhost/tweetsDB))

In [121]:
Base = declarative_base()

In [122]:
class ConspiracyTheory(Base):
    __tablename__ = 'conspiracy_theory'

    id = Column(Integer(), primary_key=True)
    theory_name = Column(String, unique=True)

In [ ]:
class ConspHashTheoryLink(Base):
    __tablename__ = 'conspiracy_link'

    id = Column(Integer(), primary_key=True)
    hash_tag_id = Column(Integer(),)

In [123]:
# consp_theory_tab = Table('conspiracy_theory', meta,  
#                        Column('title', String))

In [124]:
# for val in df_filtered['value']:
#     print(val)

In [125]:
Session = sessionmaker(engine)  
session = Session()

Base.metadata.create_all(engine)

try:
    for key in CONSPIRACY_THEORIES.keys() :
        new_theory = ConspiracyTheory(theory_name=key)
        session.add(new_theory)
    session.commit()
except:
    print("An error ocured")

Next we will perform the same query but also with joins

After that we will need to parse all the tweet contents and compute the sentiment