In [2]:
import os
import re

In [260]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\kdeni\anaconda3\envs\sql\lib\site-packages (1.3.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\kdeni\anaconda3\envs\sql\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\kdeni\anaconda3\envs\sql\lib\site-packages (from pandas) (1.21.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\kdeni\anaconda3\envs\sql\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\kdeni\anaconda3\envs\sql\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [3]:
import pandas as pd

In [83]:
# !pip install psycopg2
# import psycopg2

In [84]:
# %load_ext sql

In [4]:
HOST = "localhost"
DB = "tweetsDB"
USER = "postgres"
PASSWD = "passwd"

In [86]:
# conn = psycopg2.connect(dbname=DB, user=USER, password=PASSWD, host=HOST)

In [87]:
# cur = conn.cursor()

In [88]:
# cur.execute(query)

In [89]:
# cur.fetchall()

In [90]:
# res = cur.execute("SELECT * FROM hashtags LIMIT 100")

In [91]:
# print(res)

In [5]:
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, String, Integer, MetaData
from sqlalchemy.orm import declarative_base, sessionmaker

In [6]:
posgres_conn_str = f"postgresql://{USER}:{PASSWD}@{HOST}/{DB}"

In [7]:
engine = create_engine(posgres_conn_str)

TODO:

    1. vytvorit si novy stlpec pre sentiment(neg, neu, pos, compound)
    2. joinut tweety s tweethashtagmi s hashtagmi 
    3. vyfiltrovat podla danych hashtagov, ktore chcem 
    4. vypocitat sentiment a zapisat do DB

Adding the sentiment columns to the tweets table

In [266]:
add_columns_query = """
    ALTER TABLE tweets
    ADD COLUMN neg numeric(6, 4),
    ADD COLUMN neu numeric(6, 4),
    ADD COLUMN pos numeric(6, 4),
    ADD COLUMN compound numeric(6, 4)
"""

In [8]:
try:
    engine.execute(add_columns_query)
    engine.commit()
except:
    print("Columns probably already exist")

Columns probably already exist

In [9]:
HASHTAG_FILTER = """'%%DeepstateVirus%%', '%%DeepStateVaccine%%','%%DeepStateFauci%%', '%%QAnon%%', '%%Agenda21%%', '%%CCPVirus%%', '%%ClimateChangeHoax%%',
'%%GlobalWarmingHoax%%', '%%ChinaLiedPeopleDied%%', '%%SorosVirus%%', '%%5GCoronavirus%%', '%%MAGA%%',
'%%WWG1WGA%%', '%%Chemtrails%%', '%%flatEarth%%', '%%MoonLandingHoax%%', '%%moonhoax%%', '%%illuminati%%',
'%%pizzaGateIsReal%%', '%%PedoGateIsReal%%', '%%911truth%%', '%%911insidejob%%', '%%reptilians%%'"""

In [90]:
# hashtag : conspiracy_theory
CONSPIRACY_THEORIES = {
 
        "deepstatevirus"                :   "Deep State",  
        "deepstatevaccine"              :   "Deep State",
        "deepstatefauci"                :   "Deep State",
        "qanon"                         :   "Qanon",
        "maga"                          :   "Qanon",
        "wwg1wga"                       :   "Qanon",
        "agenda21"                      :   "New world order",
        "ccpvirus"                      :   "The virus escaped from a Chinese lab", 
        "chinaliedpeopledied"           :   "The virus escaped from a Chinese lab",
        "climatechangehoax"             :   "GLobal Warming is HOAX",
        "globalwarminghoax"             :   "GLobal Warming is HOAX",
        "sorosvirus"                    :   "COVID19 and microchipping", 
        "billgates"                     :   "COVID19 and microchipping",
        "5gcoronavirus"                 :   "COVID19 is preaded by 5G",
        "moonlandinghoax"               :   "Moon landing is fake", 
        "moonhoax"                      :   "Moon landing is fake",
        "911truth"                      :   "9/11 was inside job",
        "911insidejob"                  :   "9/11 was inside job",
        "pizzagateisreal"               :   "Pizzagate conspiracy theory",
        "pedogateisreal"                :   "Pizzagate conspiracy theory",   
        "chemtrails"                    :   "Chemtrails",
        "flatearth"                     :   "FlatEarth",
        "illuminati"                    :   "Illuminati",
        "reptilians"                    :   "Reptilian conspiracy theory"
}

In [12]:
CONSPIRACY_THEORIES["DeepStateVaccine"]

'Deep State'

We need to match all the mutations of the hashtags:

In [272]:
filter_query = f"""
    SELECT * 
    FROM hashtags
    WHERE lower(value) LIKE ANY (array[{HASHTAG_FILTER.lower()}])
"""

In [273]:
filter_query

"\n    SELECT * \n    FROM hashtags\n    WHERE lower(value) LIKE ANY (array['%%deepstatevirus%%', '%%deepstatevaccine%%','%%deepstatefauci%%', '%%qanon%%', '%%agenda21%%', '%%ccpvirus%%', '%%climatechangehoax%%',\n'%%globalwarminghoax%%', '%%chinaliedpeopledied%%', '%%sorosvirus%%', '%%5gcoronavirus%%', '%%maga%%',\n'%%wwg1wga%%', '%%chemtrails%%', '%%flatearth%%', '%%moonlandinghoax%%', '%%moonhoax%%', '%%illuminati%%',\n'%%pizzagateisreal%%', '%%pedogateisreal%%', '%%911truth%%', '%%911insidejob%%', '%%reptilians%%'])\n"

In [274]:
qanon_query = f"""
    SELECT * 
    FROM hashtags
    WHERE lower(value) LIKE ANY (array['qanon'])
"""

In [275]:
df_qanon = pd.read_sql(qanon_query, engine)

In [276]:
df_filtered = pd.read_sql(filter_query, engine)

In [277]:
df_filtered

            id                  value
0      3073063               CCPVirus
1      1137275               CCPvirus
2     15552438          5GCoronavirus
3     23142030  bostonathletemagazine
4     23146777           5GChemtrails
...        ...                    ...
2013  23111551         impeachimagain
2014  23111710          MAGATruthBomb
2015    363800                 magats
2016  10905016               ccpvirus
2017  23118098        WeddingMagazine

[2018 rows x 2 columns]

In [278]:
df_qanon

          id  value
0   21259243  QAnON
1   15690756  qANON
2   15177935  qAnon
3   16799781  qanOn
4   18387797  QanON
5      27195  QANON
6   22837040  QanoN
7      25091  qanon
8   22849188  QanOn
9   15168832  QANOn
10     20506  QAnon
11     77112  Qanon
12  15170088  qaNon
13  15189267  QAnoN
14  15274024  QaNON
15  15856421  qAnoN
16  16204212  QaNon
17  15752301  QANon
18  16070849  qaNON
19  18149870  qanoN
20  16342002  QaNoN
21  18671401  qAnON
22  20298034  QANoN
23  21370247  qanON

We can see that hoaxer dont know grammar

In [279]:
emoji_pat = re.compile(pattern = "["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
        u"\U00002500-\U00002BEF"  # chinese char
        u"\U00002702-\U000027B0"
        u"\U00002702-\U000027B0"
        u"\U000024C2-\U0001F251"
        u"\U0001f926-\U0001f937"
        u"\U00010000-\U0010ffff"
        u"\u2640-\u2642" 
        u"\u2600-\u2B55"
        u"\u200d"
        u"\u23cf"
        u"\u23e9"
        u"\u231a"
        u"\ufe0f"  # dingbats
        u"\u3030"
                        "]+", flags = re.UNICODE)


def parse_line(line):
    res = re.sub("(\#|\@)[\w]+", "", line)
    res = emoji_pat.sub(r'',res)
    return res.lstrip().rstrip()

In [315]:
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()


def compute_sentiment_and_write(line):
    # parse the line and compute the sentiment
    id = line['id']
    sentiment = sid.polarity_scores(parse_line(line['content']))
    # print(parse_line(line['content']))
    # print(sid.polarity_scores(parse_line(line['content'])))
    try:
        engine.execute(f"""
            UPDATE tweets
            SET neg = {sentiment['neg']},
                neu = {sentiment['neu']},
                pos = {sentiment['pos']},
                compound = {sentiment['compound']}
            WHERE id = '{id}';
        """)
    except:
        print("Something went wrong during write")

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\kdeni\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [16]:
lower_hastag_filter = HASHTAG_FILTER.lower()

In [17]:
lower_hastag_filter

"'%%deepstatevirus%%', '%%deepstatevaccine%%','%%deepstatefauci%%', '%%qanon%%', '%%agenda21%%', '%%ccpvirus%%', '%%climatechangehoax%%',\n'%%globalwarminghoax%%', '%%chinaliedpeopledied%%', '%%sorosvirus%%', '%%5gcoronavirus%%', '%%maga%%',\n'%%wwg1wga%%', '%%chemtrails%%', '%%flatearth%%', '%%moonlandinghoax%%', '%%moonhoax%%', '%%illuminati%%',\n'%%pizzagateisreal%%', '%%pedogateisreal%%', '%%911truth%%', '%%911insidejob%%', '%%reptilians%%'"

In [36]:
query = f"""
                SELECT tweets.id as tweetID, tweets.content, h.id as hashtagID, h.value as hashtagVal
                FROM tweets
                JOIN tweet_hashtags as th ON tweets.id = th.tweet_id
                JOIN hashtags as h ON th.hashtag_id = h.id
                WHERE lower(h.value) ILIKE ANY (array[{lower_hastag_filter}])
        
"""

In [284]:
query_hash = f"""
        SELECT value
        FROM hashtags as h
        WHERE lower(h.value) ILIKE ANY (array[{lower_hastag_filter}])
"""

In [285]:
query_hash

"\n        SELECT value\n        FROM hashtags as h\n        WHERE lower(h.value) ILIKE ANY (array['%%deepstatevirus%%', '%%deepstatevaccine%%','%%deepstatefauci%%', '%%qanon%%', '%%agenda21%%', '%%ccpvirus%%', '%%climatechangehoax%%',\n'%%globalwarminghoax%%', '%%chinaliedpeopledied%%', '%%sorosvirus%%', '%%5gcoronavirus%%', '%%maga%%',\n'%%wwg1wga%%', '%%chemtrails%%', '%%flatearth%%', '%%moonlandinghoax%%', '%%moonhoax%%', '%%illuminati%%',\n'%%pizzagateisreal%%', '%%pedogateisreal%%', '%%911truth%%', '%%911insidejob%%', '%%reptilians%%'])\n"

In [286]:
df_some = pd.read_sql(query_hash, engine)

In [287]:
df_some

                      value
0                  CCPVirus
1             5GCoronavirus
2                  CCPvirus
3     bostonathletemagazine
4              5GChemtrails
...                     ...
2013          MAGATruthBomb
2014                 magats
2015               magazine
2016        WeddingMagazine
2017               ccpvirus

[2018 rows x 1 columns]

In [37]:
df_filtered_tweets = pd.read_sql(query, engine)

In [38]:
df_filtered_tweets

,tweetid,content,hashtagid,hashtagval
0,1263951734197547008,@catturd2 Welcome to the [D] party! ðŸ¤®\r\n\r\n#...,20506,QAnon
1,1263951734197547008,@catturd2 Welcome to the [D] party! ðŸ¤®\r\n\r\n#...,25089,WWG1WGA
2,1263951707970719747,Â“Conspiracy TheoristÂ”\r\n\r\nA term CREATED by...,20506,QAnon
3,1263951707240837120,I took the liberty of deconstructing this week...,25089,WWG1WGA
4,1263951707240837120,I took the liberty of deconstructing this week...,77112,Qanon
...,...,...,...,...
3656137,1263894906822709252,ðŸ˜³\r\nAREA 51! \r\n\r\n5000 quakes in 7 days......,20506,QAnon
3656138,1263951677348024322,@catturd2 Welcome to the [D] party! ðŸ¤®\r\n\r\n#...,20506,QAnon
3656139,1263951677348024322,@catturd2 Welcome to the [D] party! ðŸ¤®\r\n\r\n#...,25089,WWG1WGA
3656140,1263951990620590081,Biden-Ukraine investigation about to have EXPL...,14415,MAGA
3656141,1263951990620590081,Biden-Ukraine investigation about to have EXPL...,77112,Qanon

In [46]:
df_filtered_tweets['hashtagval'] = df_filtered_tweets['hashtagval'].apply(lambda x: x.lower())

Remove duplicates

In [47]:
df_unique_filtered_tweets = df_filtered_tweets.drop_duplicates(subset=['tweetid'])

In [48]:
df_unique_filtered_tweets

,tweetid,content,hashtagid,hashtagval
0,1263951734197547008,@catturd2 Welcome to the [D] party! ðŸ¤®\r\n\r\n#...,20506,qanon
2,1263951707970719747,Â“Conspiracy TheoristÂ”\r\n\r\nA term CREATED by...,20506,qanon
3,1263951707240837120,I took the liberty of deconstructing this week...,25089,wwg1wga
5,1263951688433623042,#wwg1wga #qanon | (à² _à² )+n+@dananessel \r\n\r\n...,511508,wwg1wga
7,1263951665918509064,It's worth bearing in mind that the #QAnon det...,20506,qanon
...,...,...,...,...
3656134,1263951999676100609,My baby and best friend Butters.\r\nRide or di...,25089,wwg1wga
3656136,1263951991824408576,"""Mr. Lowndes attended one of the recent reopen...",20506,qanon
3656137,1263894906822709252,ðŸ˜³\r\nAREA 51! \r\n\r\n5000 quakes in 7 days......,20506,qanon
3656138,1263951677348024322,@catturd2 Welcome to the [D] party! ðŸ¤®\r\n\r\n#...,20506,qanon
3656140,1263951990620590081,Biden-Ukraine investigation about to have EXPL...,14415,maga

In [43]:
df_filtered_tweets

,tweetid,content,hashtagid,hashtagval
0,1263951734197547008,@catturd2 Welcome to the [D] party! ðŸ¤®\r\n\r\n#...,20506,QAnon
1,1263951734197547008,@catturd2 Welcome to the [D] party! ðŸ¤®\r\n\r\n#...,25089,WWG1WGA
2,1263951707970719747,Â“Conspiracy TheoristÂ”\r\n\r\nA term CREATED by...,20506,QAnon
3,1263951707240837120,I took the liberty of deconstructing this week...,25089,WWG1WGA
4,1263951707240837120,I took the liberty of deconstructing this week...,77112,Qanon
...,...,...,...,...
3656137,1263894906822709252,ðŸ˜³\r\nAREA 51! \r\n\r\n5000 quakes in 7 days......,20506,QAnon
3656138,1263951677348024322,@catturd2 Welcome to the [D] party! ðŸ¤®\r\n\r\n#...,20506,QAnon
3656139,1263951677348024322,@catturd2 Welcome to the [D] party! ðŸ¤®\r\n\r\n#...,25089,WWG1WGA
3656140,1263951990620590081,Biden-Ukraine investigation about to have EXPL...,14415,MAGA
3656141,1263951990620590081,Biden-Ukraine investigation about to have EXPL...,77112,Qanon

In [244]:
'magazine' in df_filtered_tweets.value.values

True

Computing the sentiment and writing it to the db

In [255]:
id_count = len(df_filtered_tweets)

In [316]:
df_unique_filtered_tweets.apply(lambda x: compute_sentiment_and_write(x), axis=1)

0          None
1          None
2          None
3          None
4          None
           ...
3656131    None
3656133    None
3656134    None
3656135    None
3656140    None
Length: 2152424, dtype: object

In [246]:
# for (id, sentiment) in new_col:

#     engine.execute(f"""
#         UPDATE tweets
#         SET neg = {sentiment['neg']},
#             neu = {sentiment['neu']},
#             pos = {sentiment['pos']},
#             compound = {sentiment['compound']}
#         WHERE id = '{id}';
#     """)

Creating the consp_theory tables as well the link between hashtags and consptheory

In [120]:
consp_theory_tab = df_filtered_tweets.loc[ : , ["hashtagid", "hashtagval"]]

In [121]:
consp_theory_tab = consp_theory_tab.drop_duplicates()

In [122]:
consp_theory_tab = consp_theory_tab.reset_index(drop=True)

In [123]:
consp_theory_tab

      hashtagid       hashtagval
0         20506            qanon
1         25089          wwg1wga
2         77112            qanon
3        511508          wwg1wga
4         25091            qanon
...         ...              ...
2013   22709706       qanonindia
2014   22720370  obamagateisreal
2015   22724297  qanon_worldwide
2016   22741544       obamagates
2017   22745467         qanonfaq

[2018 rows x 2 columns]

In [124]:
CONSPIRACY_THEORIES.get(consp_theory_tab['hashtagval'][2015])

In [125]:
CONSPIRACY_THEORIES.get("some")

In [126]:
consp_theory_tab['hashtagval'][2015]

'qanon_worldwide'

Get the name of the consp. theory.

In [127]:
consp_theory_tab

      hashtagid       hashtagval
0         20506            qanon
1         25089          wwg1wga
2         77112            qanon
3        511508          wwg1wga
4         25091            qanon
...         ...              ...
2013   22709706       qanonindia
2014   22720370  obamagateisreal
2015   22724297  qanon_worldwide
2016   22741544       obamagates
2017   22745467         qanonfaq

[2018 rows x 2 columns]

In [128]:
consp_theory_tab['theory'] = consp_theory_tab.apply(lambda x: CONSPIRACY_THEORIES.get(x["hashtagval"]), axis=1)

In [137]:
for id, hashtgaval  in consp_theory_tab.loc[ :, ["hashtagid", "hashtagval"]]:
    print(id, hashtgaval)

ValueError: too many values to unpack (expected 2)

In [ ]:
try:
    engine.execute("""
        CREATE TABLE IF NOT EXISTS consp_theories (
        id int,
        theory varchar(255)
        PRIMARY KEY (id)
    );   
    """)
except:
    print("Something went wrong")

In [24]:
meta = MetaData(engine)

In [25]:
meta

MetaData(bind=Engine(postgresql://postgres:***@localhost/tweetsDB))

In [26]:
Base = declarative_base()

In [27]:
class ConspiracyTheory(Base):
    __tablename__ = 'conspiracy_theory'

    id = Column(Integer(), primary_key=True)
    theory_name = Column(String, unique=True)

In [ ]:
class ConspHashTheoryLink(Base):
    __tablename__ = 'conspiracy_link'

    id = Column(Integer(), primary_key=True)
    hash_tag_id = Column(Integer(),)

In [ ]:
# consp_theory_tab = Table('conspiracy_theory', meta,  
#                        Column('title', String))

In [ ]:
# for val in df_filtered['value']:
#     print(val)

In [ ]:
Session = sessionmaker(engine)  
session = Session()

Base.metadata.create_all(engine)

try:
    for key in CONSPIRACY_THEORIES.keys() :
        new_theory = ConspiracyTheory(theory_name=key)
        session.add(new_theory)
    session.commit()
except:
    print("An error ocured")

Next we will perform the same query but also with joins

After that we will need to parse all the tweet contents and compute the sentiment