In [259]:
import os
import re

In [260]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\kdeni\anaconda3\envs\sql\lib\site-packages (1.3.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\kdeni\anaconda3\envs\sql\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\kdeni\anaconda3\envs\sql\lib\site-packages (from pandas) (1.21.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\kdeni\anaconda3\envs\sql\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\kdeni\anaconda3\envs\sql\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [261]:
import pandas as pd

In [83]:
# !pip install psycopg2
# import psycopg2

In [84]:
# %load_ext sql

In [262]:
HOST = "localhost"
DB = "tweetsDB"
USER = "postgres"
PASSWD = "passwd"

In [86]:
# conn = psycopg2.connect(dbname=DB, user=USER, password=PASSWD, host=HOST)

In [87]:
# cur = conn.cursor()

In [88]:
# cur.execute(query)

In [89]:
# cur.fetchall()

In [90]:
# res = cur.execute("SELECT * FROM hashtags LIMIT 100")

In [91]:
# print(res)

In [263]:
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, String, Integer, MetaData
from sqlalchemy.orm import declarative_base, sessionmaker

In [264]:
posgres_conn_str = f"postgresql://{USER}:{PASSWD}@{HOST}/{DB}"

In [265]:
engine = create_engine(posgres_conn_str)

TODO:

    1. vytvorit si novy stlpec pre sentiment(neg, neu, pos, compound)
    2. joinut tweety s tweethashtagmi s hashtagmi 
    3. vyfiltrovat podla danych hashtagov, ktore chcem 
    4. vypocitat sentiment a zapisat do DB

Adding the sentiment columns to the tweets table

In [266]:
add_columns_query = """
    ALTER TABLE tweets
    ADD COLUMN neg numeric(6, 4),
    ADD COLUMN neu numeric(6, 4),
    ADD COLUMN pos numeric(6, 4),
    ADD COLUMN compound numeric(6, 4)
"""

In [268]:
try:
    engine.execute(add_columns_query)
except:
    print("Columns probably already exist")

Columns probably already exist

In [269]:
HASHTAG_FILTER = """'%%DeepstateVirus%%', '%%DeepStateVaccine%%','%%DeepStateFauci%%', '%%QAnon%%', '%%Agenda21%%', '%%CCPVirus%%', '%%ClimateChangeHoax%%',
'%%GlobalWarmingHoax%%', '%%ChinaLiedPeopleDied%%', '%%SorosVirus%%', '%%5GCoronavirus%%', '%%MAGA%%',
'%%WWG1WGA%%', '%%Chemtrails%%', '%%flatEarth%%', '%%MoonLandingHoax%%', '%%moonhoax%%', '%%illuminati%%',
'%%pizzaGateIsReal%%', '%%PedoGateIsReal%%', '%%911truth%%', '%%911insidejob%%', '%%reptilians%%'"""

In [270]:
# hashtag : conspiracy_theory
CONSPIRACY_THEORIES = {
 
        "DeepstateVirus"                :   "Deep State",  
        "DeepStateVaccine"              :   "Deep State",
        "DeepStateFauci"                :   "Deep State",
        "QAnon"                         :   "Qanon",
        "MAGA"                          :   "Qanon",
        "WWG1WGA"                       :   "Qanon",
        "Agenda21"                      :   "New world order",
        "CCPVirus"                      :   "The virus escaped from a Chinese lab", 
        "ChinaLiedPeopleDied"           :   "The virus escaped from a Chinese lab",
        "ClimateChangeHoax"             :   "GLobal Warming is HOAX",
        "GlobalWarmingHoax"             :   "GLobal Warming is HOAX",
        "SorosVirus"                    :   "COVID19 and microchipping", 
        "BillGAtes"                     :   "COVID19 and microchipping",
        "5GCoronavirus"                 :   "COVID19 is preaded by 5G",
        "MoonLandingHoax"               :   "Moon landing is fake", 
        "moonhoax"                      :   "Moon landing is fake",
        "911truth"                      :   "9/11 was inside job",
        "911insidejob"                  :   "9/11 was inside job",
        "pizzaGateIsReal"               :   "Pizzagate conspiracy theory",
        "PedoGateIsReal"                :   "Pizzagate conspiracy theory",   
        "Chemtrails"                    :   "Chemtrails",
        "flatEarth"                     :   "FlatEarth",
        "illuminati"                    :   "Illuminati",
        "reptilians"                    :   "Reptilian conspiracy theory"
}

In [271]:
CONSPIRACY_THEORIES["DeepStateVaccine"]

'Deep State'

We need to match all the mutations of the hashtags:

In [272]:
filter_query = f"""
    SELECT * 
    FROM hashtags
    WHERE lower(value) LIKE ANY (array[{HASHTAG_FILTER.lower()}])
"""

In [273]:
filter_query

"\n    SELECT * \n    FROM hashtags\n    WHERE lower(value) LIKE ANY (array['%%deepstatevirus%%', '%%deepstatevaccine%%','%%deepstatefauci%%', '%%qanon%%', '%%agenda21%%', '%%ccpvirus%%', '%%climatechangehoax%%',\n'%%globalwarminghoax%%', '%%chinaliedpeopledied%%', '%%sorosvirus%%', '%%5gcoronavirus%%', '%%maga%%',\n'%%wwg1wga%%', '%%chemtrails%%', '%%flatearth%%', '%%moonlandinghoax%%', '%%moonhoax%%', '%%illuminati%%',\n'%%pizzagateisreal%%', '%%pedogateisreal%%', '%%911truth%%', '%%911insidejob%%', '%%reptilians%%'])\n"

In [274]:
qanon_query = f"""
    SELECT * 
    FROM hashtags
    WHERE lower(value) LIKE ANY (array['qanon'])
"""

In [275]:
df_qanon = pd.read_sql(qanon_query, engine)

In [276]:
df_filtered = pd.read_sql(filter_query, engine)

In [277]:
df_filtered

            id                  value
0      3073063               CCPVirus
1      1137275               CCPvirus
2     15552438          5GCoronavirus
3     23142030  bostonathletemagazine
4     23146777           5GChemtrails
...        ...                    ...
2013  23111551         impeachimagain
2014  23111710          MAGATruthBomb
2015    363800                 magats
2016  10905016               ccpvirus
2017  23118098        WeddingMagazine

[2018 rows x 2 columns]

In [278]:
df_qanon

          id  value
0   21259243  QAnON
1   15690756  qANON
2   15177935  qAnon
3   16799781  qanOn
4   18387797  QanON
5      27195  QANON
6   22837040  QanoN
7      25091  qanon
8   22849188  QanOn
9   15168832  QANOn
10     20506  QAnon
11     77112  Qanon
12  15170088  qaNon
13  15189267  QAnoN
14  15274024  QaNON
15  15856421  qAnoN
16  16204212  QaNon
17  15752301  QANon
18  16070849  qaNON
19  18149870  qanoN
20  16342002  QaNoN
21  18671401  qAnON
22  20298034  QANoN
23  21370247  qanON

We can see that hoaxer dont know grammar

In [279]:
emoji_pat = re.compile(pattern = "["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
        u"\U00002500-\U00002BEF"  # chinese char
        u"\U00002702-\U000027B0"
        u"\U00002702-\U000027B0"
        u"\U000024C2-\U0001F251"
        u"\U0001f926-\U0001f937"
        u"\U00010000-\U0010ffff"
        u"\u2640-\u2642" 
        u"\u2600-\u2B55"
        u"\u200d"
        u"\u23cf"
        u"\u23e9"
        u"\u231a"
        u"\ufe0f"  # dingbats
        u"\u3030"
                        "]+", flags = re.UNICODE)


def parse_line(line):
    res = re.sub("(\#|\@)[\w]+", "", line)
    res = emoji_pat.sub(r'',res)
    return res.lstrip().rstrip()

In [304]:
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()


def compute_sentiment_and_write(line):
    # parse the line and compute the sentiment
    id = line['id']
    sentiment = sid.polarity_scores(parse_line(line['content']))
    # print(parse_line(line['content']))
    # print(sid.polarity_scores(parse_line(line['content'])))
    try:
        engine.execute(f"""
            UPDATE tweets
            SET neg = {sentiment['neg']},
                neu = {sentiment['neu']},
                pos = {sentiment['pos']},
                compound = {sentiment['compound']}
            WHERE id = '{id}';
        """)
    except:
        print("Something went wrong during write")

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\kdeni\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [281]:
lower_hastag_filter = HASHTAG_FILTER.lower()

In [282]:
lower_hastag_filter

"'%%deepstatevirus%%', '%%deepstatevaccine%%','%%deepstatefauci%%', '%%qanon%%', '%%agenda21%%', '%%ccpvirus%%', '%%climatechangehoax%%',\n'%%globalwarminghoax%%', '%%chinaliedpeopledied%%', '%%sorosvirus%%', '%%5gcoronavirus%%', '%%maga%%',\n'%%wwg1wga%%', '%%chemtrails%%', '%%flatearth%%', '%%moonlandinghoax%%', '%%moonhoax%%', '%%illuminati%%',\n'%%pizzagateisreal%%', '%%pedogateisreal%%', '%%911truth%%', '%%911insidejob%%', '%%reptilians%%'"

In [283]:
query = f"""
        SELECT tweets.id, tweets.content, h.value
        FROM tweets
        JOIN tweet_hashtags as th ON tweets.id = th.tweet_id
        JOIN hashtags as h ON th.hashtag_id = h.id
        WHERE lower(h.value) ILIKE ANY (array[{lower_hastag_filter}])
        
"""

In [284]:
query_hash = f"""
        SELECT value
        FROM hashtags as h
        WHERE lower(h.value) ILIKE ANY (array[{lower_hastag_filter}])
"""

In [285]:
query_hash

"\n        SELECT value\n        FROM hashtags as h\n        WHERE lower(h.value) ILIKE ANY (array['%%deepstatevirus%%', '%%deepstatevaccine%%','%%deepstatefauci%%', '%%qanon%%', '%%agenda21%%', '%%ccpvirus%%', '%%climatechangehoax%%',\n'%%globalwarminghoax%%', '%%chinaliedpeopledied%%', '%%sorosvirus%%', '%%5gcoronavirus%%', '%%maga%%',\n'%%wwg1wga%%', '%%chemtrails%%', '%%flatearth%%', '%%moonlandinghoax%%', '%%moonhoax%%', '%%illuminati%%',\n'%%pizzagateisreal%%', '%%pedogateisreal%%', '%%911truth%%', '%%911insidejob%%', '%%reptilians%%'])\n"

In [286]:
df_some = pd.read_sql(query_hash, engine)

In [287]:
df_some

                      value
0                  CCPVirus
1             5GCoronavirus
2                  CCPvirus
3     bostonathletemagazine
4              5GChemtrails
...                     ...
2013          MAGATruthBomb
2014                 magats
2015               magazine
2016        WeddingMagazine
2017               ccpvirus

[2018 rows x 1 columns]

In [288]:
df_filtered_tweets = pd.read_sql(query, engine)

In [289]:
df_filtered_tweets

,id,content,value
0,1263991235083026432,#YouAintBlack \r\n\r\n#ObamaGate\r\n\r\n#JoeBi...,ObamaGate
1,1263992593731461120,#YouAintBlack \r\n\r\n#ObamaGate\r\n\r\n#JoeBi...,ObamaGate
2,1263992145150644224,Para combatir a Satan치s y sus demonios hay que...,QAnon
3,1263992593731461120,#YouAintBlack \r\n\r\n#ObamaGate\r\n\r\n#JoeBi...,QAnon
4,1263991235083026432,#YouAintBlack \r\n\r\n#ObamaGate\r\n\r\n#JoeBi...,QAnon
...,...,...,...
3656137,1263988435842265089,游녢THIS SH%T RIGHT HERE游녢\r\n 游눤游눤游눤is why游눤游눤游눤\r...,QAnon
3656138,1263992869280296961,游댠游댠游댠游댠FACT游댠游댠游댠游댠\r\n 游눤游눤TIMES UP游눤游눤\r\n 游쥟릖#T...,QAnon
3656139,1263992869280296961,游댠游댠游댠游댠FACT游댠游댠游댠游댠\r\n 游눤游눤TIMES UP游눤游눤\r\n 游쥟릖#T...,WWG1WGA
3656140,1263992817736486912,游댠游댠游댠 TRAITOR 游댠游댠游댠\r\n 游눤NOT REGISTERED游눤\r\n ...,QAnon
3656141,1263992817736486912,游댠游댠游댠 TRAITOR 游댠游댠游댠\r\n 游눤NOT REGISTERED游눤\r\n ...,WWG1WGA

Remove duplicates

In [290]:
df_filtered_tweets = df_filtered_tweets.drop_duplicates(subset=['id'])

In [291]:
df_filtered_tweets

,id,content,value
0,1263991235083026432,#YouAintBlack \r\n\r\n#ObamaGate\r\n\r\n#JoeBi...,ObamaGate
1,1263992593731461120,#YouAintBlack \r\n\r\n#ObamaGate\r\n\r\n#JoeBi...,ObamaGate
2,1263992145150644224,Para combatir a Satan치s y sus demonios hay que...,QAnon
5,1263992573682765824,It뇹 gonna mess a LOT of people up to find out...,QAnon
6,1263992111738818567,Not sure what뇹 crazier:\r\n\r\n#Qanon or call...,Qanon
...,...,...,...
3656134,1263992637708738560,"For those that don뇺 know @RepRatcliffe, he is...",QANON
3656135,1263992625268273152,@ttm7 @leslie_hileslie @TGC Q just warned of t...,Qanon
3656137,1263988435842265089,游녢THIS SH%T RIGHT HERE游녢\r\n 游눤游눤游눤is why游눤游눤游눤\r...,QAnon
3656138,1263992869280296961,游댠游댠游댠游댠FACT游댠游댠游댠游댠\r\n 游눤游눤TIMES UP游눤游눤\r\n 游쥟릖#T...,QAnon
3656140,1263992817736486912,游댠游댠游댠 TRAITOR 游댠游댠游댠\r\n 游눤NOT REGISTERED游눤\r\n ...,QAnon

In [244]:
'magazine' in df_filtered_tweets.value.values

True

Computing the sentiment and writing it to the db

In [255]:
id_count = len(df_filtered_tweets)

In [306]:
df_filtered_tweets[:100].apply(lambda x: compute_sentiment_and_write(x), axis=1)

1263991235083026432 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263992593731461120 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263992145150644224 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263992573682765824 {'neg': 0.291, 'neu': 0.709, 'pos': 0.0, 'compound': -0.87}
1263992111738818567 {'neg': 0.178, 'neu': 0.725, 'pos': 0.097, 'compound': -0.2235}
1263991194129887237 {'neg': 0.0, 'neu': 0.618, 'pos': 0.382, 'compound': 0.8949}
1263992111453609985 {'neg': 0.291, 'neu': 0.709, 'pos': 0.0, 'compound': -0.87}
1263991186269798403 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263992106772770818 {'neg': 0.063, 'neu': 0.801, 'pos': 0.137, 'compound': 0.5849}
1263991201490972677 {'neg': 0.218, 'neu': 0.693, 'pos': 0.089, 'compound': -0.5296}
1263991185321930752 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263992106055380993 {'neg': 0.0, 'neu': 0.478, 'pos': 0.522, 'compound': 0.8248}
1263991990644903936 {'neg': 0.228, 'neu': 0.772, 'pos': 0.0, 'compound': -0.8388}
1263992569299599362 {'neg': 0.0, 'neu': 0.682, 'pos': 0.318, 'compound': 0.4199}
1263991171858259968 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263992565554130946 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263991156691611649 {'neg': 0.0, 'neu': 0.702, 'pos': 0.298, 'compound': 0.4545}
1263992083360165892 {'neg': 0.0, 'neu': 0.618, 'pos': 0.382, 'compound': 0.8949}
1263991156427415553 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263992558394449921 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263992079199461380 {'neg': 0.1, 'neu': 0.9, 'pos': 0.0, 'compound': -0.5661}
1263991123313414147 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263992056059396097 {'neg': 0.554, 'neu': 0.446, 'pos': 0.0, 'compound': -0.9042}
1263991059245264896 {'neg': 0.0, 'neu': 0.583, 'pos': 0.417, 'compound': 0.6124}
1263992044055334912 {'neg': 0.0, 'neu': 0.902, 'pos': 0.098, 'compound': 0.34}
1263992545333391360 {'neg': 0.222, 'neu': 0.72, 'pos': 0.058, 'compound': -0.7761}
1263991055592153088 {'neg': 0.291, 'neu': 0.709, 'pos': 0.0, 'compound': -0.87}
1263992542674194435 {'neg': 0.364, 'neu': 0.636, 'pos': 0.0, 'compound': -0.9062}
1263992032701415426 {'neg': 0.263, 'neu': 0.737, 'pos': 0.0, 'compound': -0.3595}
1263992023792713738 {'neg': 0.222, 'neu': 0.72, 'pos': 0.058, 'compound': -0.7761}
1263992012224815107 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263991720997523458 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263992002858885120 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263991961783947265 {'neg': 0.0, 'neu': 0.469, 'pos': 0.531, 'compound': 0.5267}
1263992527323004929 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263992523694854144 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263992523128745986 {'neg': 0.0, 'neu': 0.618, 'pos': 0.382, 'compound': 0.8949}
1263992515306434560 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263992515218333696 {'neg': 0.226, 'neu': 0.774, 'pos': 0.0, 'compound': -0.5423}
1263991012789116928 {'neg': 0.291, 'neu': 0.709, 'pos': 0.0, 'compound': -0.87}
1263991954594906113 {'neg': 0.554, 'neu': 0.446, 'pos': 0.0, 'compound': -0.9042}
1263991933292236800 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263992501842538497 {'neg': 0.0, 'neu': 0.647, 'pos': 0.353, 'compound': 0.8279}
1263990978542796800 {'neg': 0.0, 'neu': 0.618, 'pos': 0.382, 'compound': 0.8949}
1263992484587278343 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263991882578886657 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263990969533435904 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263991850416758786 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263992474269343749 {'neg': 0.0, 'neu': 0.277, 'pos': 0.723, 'compound': 0.8335}
1263990941880369154 {'neg': 0.291, 'neu': 0.709, 'pos': 0.0, 'compound': -0.87}
1263991829277671426 {'neg': 0.0, 'neu': 0.827, 'pos': 0.173, 'compound': 0.5826}
1263992440429543426 {'neg': 0.063, 'neu': 0.801, 'pos': 0.137, 'compound': 0.5849}
1263990910531940352 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263992392941580288 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263991511147884544 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263991828707147782 {'neg': 0.0, 'neu': 0.753, 'pos': 0.247, 'compound': 0.3182}
1263983135789809664 {'neg': 0.292, 'neu': 0.477, 'pos': 0.232, 'compound': -0.4158}
1263992389011636232 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263992366643449856 {'neg': 0.063, 'neu': 0.801, 'pos': 0.137, 'compound': 0.5849}
1263986522531024897 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263992340538155008 {'neg': 0.063, 'neu': 0.801, 'pos': 0.137, 'compound': 0.5849}
1263990908527144961 {'neg': 0.205, 'neu': 0.555, 'pos': 0.24, 'compound': 0.3239}
1263982290557980673 {'neg': 0.246, 'neu': 0.615, 'pos': 0.14, 'compound': -0.4404}
1263982474142658562 {'neg': 0.437, 'neu': 0.512, 'pos': 0.051, 'compound': -0.9501}
1263990881117442051 {'neg': 0.291, 'neu': 0.709, 'pos': 0.0, 'compound': -0.87}
1263966921227210752 {'neg': 0.044, 'neu': 0.956, 'pos': 0.0, 'compound': -0.1901}
1263990877971677184 {'neg': 0.338, 'neu': 0.662, 'pos': 0.0, 'compound': -0.6808}
1263989652693934082 {'neg': 0.208, 'neu': 0.683, 'pos': 0.109, 'compound': -0.4404}
1263991827008573441 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263983240391639040 {'neg': 0.286, 'neu': 0.488, 'pos': 0.227, 'compound': -0.4158}
1263992286586834945 {'neg': 0.0, 'neu': 0.876, 'pos': 0.124, 'compound': 0.4019}
1263982088006643717 {'neg': 0.447, 'neu': 0.5, 'pos': 0.053, 'compound': -0.9501}
1263991787091300353 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263989018364203013 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263991275625361408 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263981495233982464 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263991781726859265 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263991933741006848 {'neg': 0.0, 'neu': 0.916, 'pos': 0.084, 'compound': 0.2732}
1263991763959758849 {'neg': 0.291, 'neu': 0.709, 'pos': 0.0, 'compound': -0.87}
1263991738320015360 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263991720196308992 {'neg': 0.146, 'neu': 0.854, 'pos': 0.0, 'compound': -0.7319}
1263990869255995393 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263991679079546882 {'neg': 0.151, 'neu': 0.765, 'pos': 0.084, 'compound': -0.3818}
1263964572576292866 {'neg': 0.0, 'neu': 0.577, 'pos': 0.423, 'compound': 0.4466}
1263991669273309186 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263990847445622784 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263991635077214208 {'neg': 0.291, 'neu': 0.709, 'pos': 0.0, 'compound': -0.87}
1263991611412951040 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263979668765585415 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263991597613690886 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263991591586402304 {'neg': 0.159, 'neu': 0.725, 'pos': 0.116, 'compound': -0.296}
1263966413666074626 {'neg': 0.0, 'neu': 0.822, 'pos': 0.178, 'compound': 0.0772}
1263989227404038144 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263991562020835332 {'neg': 0.129, 'neu': 0.672, 'pos': 0.2, 'compound': 0.4215}
1263991557646057472 {'neg': 0.245, 'neu': 0.693, 'pos': 0.062, 'compound': -0.7506}
1263982096437121024 {'neg': 0.0, 'neu': 0.811, 'pos': 0.189, 'compound': 0.8555}
1263990816500002819 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
1263992091497189376 {'neg': 0.0, 'neu': 0.908, 'pos': 0.092, 'compound': 0.466}
1263989458980032521 {'neg': 0.0, 'neu': 0.807, 'pos': 0.193, 'compound': 0.7138}
1263966903602683905 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}

0      None
1      None
2      None
5      None
6      None
       ...
144    None
145    None
146    None
147    None
148    None
Length: 100, dtype: object

In [293]:
df_filtered_tweets

,id,content,value
0,1263991235083026432,#YouAintBlack \r\n\r\n#ObamaGate\r\n\r\n#JoeBi...,ObamaGate
1,1263992593731461120,#YouAintBlack \r\n\r\n#ObamaGate\r\n\r\n#JoeBi...,ObamaGate
2,1263992145150644224,Para combatir a Satan치s y sus demonios hay que...,QAnon
5,1263992573682765824,It뇹 gonna mess a LOT of people up to find out...,QAnon
6,1263992111738818567,Not sure what뇹 crazier:\r\n\r\n#Qanon or call...,Qanon
...,...,...,...
3656134,1263992637708738560,"For those that don뇺 know @RepRatcliffe, he is...",QANON
3656135,1263992625268273152,@ttm7 @leslie_hileslie @TGC Q just warned of t...,Qanon
3656137,1263988435842265089,游녢THIS SH%T RIGHT HERE游녢\r\n 游눤游눤游눤is why游눤游눤游눤\r...,QAnon
3656138,1263992869280296961,游댠游댠游댠游댠FACT游댠游댠游댠游댠\r\n 游눤游눤TIMES UP游눤游눤\r\n 游쥟릖#T...,QAnon
3656140,1263992817736486912,游댠游댠游댠 TRAITOR 游댠游댠游댠\r\n 游눤NOT REGISTERED游눤\r\n ...,QAnon

In [246]:
# for (id, sentiment) in new_col:

#     engine.execute(f"""
#         UPDATE tweets
#         SET neg = {sentiment['neg']},
#             neu = {sentiment['neu']},
#             pos = {sentiment['pos']},
#             compound = {sentiment['compound']}
#         WHERE id = '{id}';
#     """)

In [129]:
df_filtered_tweets['id']

0     1259626598652878855
1     1250193295717916678
2     1258757503686508545
3     1258758183352438784
4     1259169572323819522
             ...
95    1260255156094066689
96    1260432729382047744
97    1251953234949943298
98    1259292228205174784
99    1266168300586725376
Name: id, Length: 100, dtype: object

In [151]:
# df_filtered_tweets['content'] = df_filtered_tweets['content'].apply(lambda x: parse_line(x))

In [163]:
df_filtered_tweets['content']

0     Anyone else feel this way?\r\n\r\n#qanon #qano...
1     @BatmanSteak @kristina_wong Proving once again...
2     @Sundncefn @CharlesVanCott Proving once again ...
3     @UcG_kilo @Sundncefn @CharlesVanCott Proving Y...
4     @ATX_PATRIOT @LovelyGigi33 @BillGates @mikandy...
                            ...
95    Answering Questions About A Lockdown by @dipti...
96    RT @TimMaudlin: Answering Questions About A Lo...
97    Dear America, nothing is wrong with trumps cul...
98    I See Q People. 游븷游쥟릖\r\n#GeorgiaMidterms #KempF...
99    @realDonaldTrump @yoyoel Twitter got you done ...
Name: content, Length: 100, dtype: object

In [ ]:
sentence = "@SusanHavens10 @LaurenLindsayDj I have written some #hashtags"

In [ ]:
print(re_str.lstrip().rstrip())

I have written some

Compute and write the sentiment values

In [ ]:
meta = MetaData(engine)

In [ ]:
meta

MetaData(bind=Engine(postgresql://postgres:***@localhost/tweetsDB))

In [ ]:
Base = declarative_base()

In [ ]:
class ConspiracyTheory(Base):
    __tablename__ = 'conspiracy_theory'

    id = Column(Integer(), primary_key=True)
    theory_name = Column(String, unique=True)

In [ ]:
class ConspHashTheoryLink(Base):
    __tablename__ = 'conspiracy_link'

    id = Column(Integer(), primary_key=True)
    hash_tag_id = Column(Integer(),)

In [ ]:
# consp_theory_tab = Table('conspiracy_theory', meta,  
#                        Column('title', String))

In [ ]:
# for val in df_filtered['value']:
#     print(val)

In [ ]:
Session = sessionmaker(engine)  
session = Session()

Base.metadata.create_all(engine)

try:
    for key in CONSPIRACY_THEORIES.keys() :
        new_theory = ConspiracyTheory(theory_name=key)
        session.add(new_theory)
    session.commit()
except:
    print("An error ocured")

Next we will perform the same query but also with joins

After that we will need to parse all the tweet contents and compute the sentiment